<h1>New Advertisement</h1>
<div class='row'>
    <div class='col-md-4'>
      <p>Guidelines for advertisement</p>
      <ul>
        <li>Make sure it is relevant.</li>
        <li>Make sure you know your target.</li>
        <li>All advertisements my follow our rules.</li>
      </ul>
    </div>
  <div class='col-md-8'>
    <%= form_for @advertisement do |ad| %>
      <div class='form-group'>
        <%= ad.label :title %>
        <%= ad.text_field :title, class: 'form-control', placeholder: "Enter advertisement title" %>
      </div>
      <div class='form-group'>
        <%= ad.label :body %>
        <%= ad.text_area :body, rows: 4, class: 'form-control', placeholder: "Enter advertisement body" %>
      </div>
      <div class='form-group'>
        <%= ad.submit "Submit Ad", class: 'btn btn-success' %>
      </div>
      <% end %>
  </div>
</div>
